extends layout

block content
  div.card
    div.card-body
      h1.card-title= title
      p.card-text= poruka
      button(class='btn btn-primary' onclick='location.pathname=location.pathname') Pokusajte ponovo